.quemsomos {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 50px;
}

.quadro {
  margin-right: 100px;
  color: #095d40;
  font-size: 23px;
}

.texto {
  text-align: justify;
}

.texto p:not(:first-child) {
  margin-top: 5px;
}

.conteinerimagem {
  display: flex;
  flex: 1;
  justify-content: center;
}
