.barranavegacao {
  width: 100%;
  background: #00ac30;
  display: flex;
  padding: px;
  align-items: center;
}

.logo {
  width: 60px;
  margin-right: 7px;
}

.conteinerlogo {
  font-size: 15px;
  color: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.conteinerlogo h1 {
  font-weight: 400;
}

.conteinerbotoes {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.conteinerbotoes button {
  margin-right: 30px;
}
